*{
    margin: 0px;
    border:0px;
}
.container{
    height:620px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-image:url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30484.jpg?semt=ais_hybrid&w=740");
    background-size:contain;
} 
.gm-name{
    font-size:40px;
    display:flex;
}
.game{
    height:310px;
    width:310px;
    border:2px solid blue;
    border-radius: 10px;
    background-color:blue;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
}
.rst-btn{
    height:38px;
    width:200px;
    border-radius: 19px;
    margin:10px;
    font-size:20px;
    background-color: blue;
    color:white;

}
.rst-btn:active{
    background-color:rgba(255,0,0,0.8);
    color:rgba(255, 255, 255, 0.8); 
}
.n-n-s{
    height:100px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.first-row{
  display:flex;
}
.scr-brd{
    position:absolute;
    transform: translateX(290%);
    border:1px solid black;
}
table {
        border-spacing: 0 10px;
        border-collapse: separate;
        border:2px solid black;
    }
    .tr-scr-brd th,
    .tr-scr-brd td {
        padding: 0px 8px;
    }
.noMatch-div{
    height:40px;
    width:270px;
    display:flex;
    justify-content: center;
    position:static;
    transform: translateX(-180%);
    border:10px;
    
}
#no-of-match{
    height:40px;
    width:210px;
    border:none;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    padding:0px;
}
.nom-smbt{
    height:40px;
    width:50px;
    border:none;
    padding:0px;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;  
    background-color: rgba(28, 28, 192, 0.705);
}
.nom-smbt:active{
    background-color:red;
}    
.nw-gm{
    height:40px;
    width:250px;
    border-radius: 10px;
    margin:10px;
    font-size:20px;
    background-color: blue;
    color:white;
}
.nw-gm:active{
    background-color:red ;
}
.box{
    height:100px;
    width:100px;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    font-size:100px;
    display:flex;
    justify-content: center;
    align-items:center;
    color:red;
}
.winner{
    height:50px;
    width:450px;
    display:flex;
    justify-content:center;
    font-size:25px;
}